.logo-condensed,
.event-slides-carousel,
.event-slide-content {
  position: relative;
  z-index: 2; }
  .logo-condensed *,
  .event-slides-carousel *,
  .event-slide-content * {
    box-sizing: border-box; }

.event-slides-carousel {
  width: 850px;
  max-width: 100%;
  margin: 1rem auto; }
  .event-slides-carousel .event-slide-content {
    margin: 0 25px;
    opacity: 0.25;
    transition: opacity 0.5s; }
    .event-slides-carousel .event-slide-content.is-selected {
      opacity: 1; }
  .event-slides-carousel .flickity-viewport {
    overflow: visible; }

.logo-condensed {
  display: none;
  margin: 0.5rem auto -8px auto;
  text-align: center; }
  .logo-condensed .donut,
  .logo-condensed .title {
    display: inline-block;
    margin: 0;
    padding: 0; }
  .logo-condensed .donut {
    width: 50px;
    height: 50px;
    vertical-align: middle; }
  .logo-condensed .title {
    margin-left: 0.5rem;
    width: 133px;
    height: 50px;
    vertical-align: 4px; }

.event-slide-content {
  width: 100%;
  overflow: hidden;
  max-width: 850px;
  margin: 0.75rem auto;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px; }
  @media (max-width: 900px) {
    .event-slide-content {
      margin: 0.75rem 1rem; } }
  .event-slide-content .donny {
    margin-right: 15px; }
  .event-slide-content h2 {
    margin: 0 0 0.5rem;
    font-size: 42px;
    color: #f487a9; }
  .event-slide-content h3 {
    margin-top: 1rem;
    color: #3b81f5; }
  .event-slide-content p,
  .event-slide-content li {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.025rem; }
  .event-slide-content p {
    margin: 0.35rem 0; }
  .event-slide-content ol,
  .event-slide-content ul {
    margin: 0 0 0 20px;
    padding: 0; }
  .event-slide-content a {
    color: #777799;
    text-decoration: underline; }
  .event-slide-content a.social-networking-link {
    font-size: 75%;
    opacity: 0.6;
    margin-left: 0.2rem;
    text-decoration: none; }
  .event-slide-content hr {
    border: 0;
    background: transparent;
    color: none;
    border-bottom: 2px solid #cce; }
  .event-slide-content .divider {
    margin: 1rem auto; }
    .event-slide-content .divider img {
      width: 50px;
      height: 50px;
      animation: spin infinite 10s; }
    .event-slide-content .divider:first-of-type img {
      animation-delay: 3s; }

ul.condensed-events-list {
  margin: 0.5rem 0 0;
  padding: 0;
  list-style: none; }
  ul.condensed-events-list li {
    display: flex;
    padding: 0.5rem 0;
    border-bottom: 2px solid #cce; }
    ul.condensed-events-list li:first-child {
      padding-top: 0; }
    ul.condensed-events-list li:last-child {
      border-bottom: 0;
      padding-bottom: 0; }
  ul.condensed-events-list time {
    width: 60px; }
  ul.condensed-events-list span {
    flex: 1; }

.just-heard-up-next p {
  font-size: 22px; }

.slide-nav {
  position: relative;
  z-index: 2;
  width: 850px;
  margin: 500px auto 100px auto;
  text-align: center; }

.slide-nav a {
  display: inline-block;
  margin: 0 0.5rem;
  width: 45px;
  height: 45px;
  line-height: 47px;
  border-radius: 50%;
  background-color: #f487a9;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  text-decoration: none; }
  .slide-nav a:hover {
    background-color: #1c406c; }

ul.organizers {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }
  ul.organizers li {
    text-align: center;
    margin-right: 40px; }
  ul.organizers img {
    display: inline-block;
    width: 90px;
    border-radius: 50%;
    overflow: hidden; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }

  50% {
    transform: rotate(360deg); }

  100% {
    transform: rotate(0deg); } }
.countdown-timer {
  opacity: 0.6; }
