/* Reference  - - - - - - - - - - - *
dark blue   #1C406C
blue        #2babe2
pink        #F487A9
mint        #B6E6CF
light pink  #F9CACD
yellow      #EFE670
light blue  #00CFE4
* - - - - - - - - - - - - - - - - - */


/* Reset  - - - - - - - - - - - - - */
body {
    margin: 0;
/*    background-color: #d3e0b4;*/
    background-color: #8dc73f;
    color: #000;
    font-family: 'Mikado', Sans-Serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.05em;
}

/* Fonts  - - - - - - - - - - - - - */
@font-face {
  font-family: 'Mikado';
  src: url('../fonts/mikado-light.woff2') format('woff2'),
       url('../fonts/mikado-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mikado';
  src: url('../fonts/mikado-medium.woff2') format('woff2'),
       url('../fonts/mikado-medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mikado';
  src: url('../fonts/mikado-bold.woff2') format('woff2'),
       url('../fonts/mikado-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Typography - - - - - - - - - - - */
h1 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: .5rem;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 3rem 0 .5rem 0;
    color: #009b90;
}

h2 + p {
    margin-top: 0.5rem;
}

h2 + h3 {
    margin-top: 0.75rem;
}

h3 {
    margin-bottom: 0.25rem;
}

h3 + p {
    margin-top: 0.25rem;
}

a { color: #3B81F5; }

input,
button {
    font-family: 'Mikado', Sans-Serif;
}

/* Top Banner - - - - - - - - - - - */
.sprinkle-background {
    width: 30rem;
    padding: 20vh 0;
    position: relative;
    opacity: 0;
    overflow: auto;
    margin: 0 auto;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 500ms;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 200ms;
    -moz-animation-name: fade;
    -moz-animation-duration: 500ms;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: forwards;
    -moz-animation-delay: 200ms;
    -ms-animation-name: fade;
    -ms-animation-duration: 500ms;
    -ms-animation-timing-function: linear;
    -moz-animation-fill-mode: forwards;
    -ms-animation-delay: 200ms;
    animation-timing-function: linear;
}

.sprinkles {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 1;
}

@-webkit-keyframes fade {
    from{opacity:0;}
    to{opacity:1;}
}
@-moz-keyframes fade {
    from{opacity:0;}
    to{opacity:1;}
}
@-ms-keyframes fade {
    from{opacity:0;}
    to{opacity:1;}
}

.title {
    height: 20vh;
    font-size: 50px;
    margin-left: 200px;
}

.donut {
    float: left;
    padding-top: 10px;
    display: block;
    width: 170px;
}

@-webkit-keyframes spin {
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spin {
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spin {
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}

/* Top Navigation - - - - - - - - - - */
.navigation {
    background-color: #1C406C;
    z-index: 2;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.navigation-link {
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem;
    -ms-flex-order: 0;
     -webkit-order: 0;
             order: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
     -webkit-align-self: auto;
    -ms-flex-item-align: auto;
             align-self: auto;
}

.navigation-link-home {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

.navigation-link-pink { background-color: #F487A9; }
.navigation-link-pink:hover { background-color: #EF5787; }
.navigation-link-blue { background-color: #2babe2; }
.navigation-link-blue:hover { background-color: #009ee0; }
.navigation-link-green { background-color: #8dc73f; }
.navigation-link-green:hover { background-color: #76bc12; }
.navigation-link-yellow { background-color: #e0d335; }
.navigation-link-yellow:hover { background-color: #ffe10e; }
.navigation-link-orange { background-color: #fbb041; }
.navigation-link-orange:hover { background-color: #fba117; }
.navigation-link-red { background-color: #ef4137; }
.navigation-link-red:hover { background-color: #ed1d0e; }
.navigation-link-teal { background-color: #01a69e; }
.navigation-link-teal:hover { background-color: #009b90; }

/* Content - - - - - - - - - - */
.on-top {
    position: relative;
    z-index: 2;
}

.constrain {
    width: 100%;
    max-width: 60rem;
    background-color: white;
    margin: -10vh auto 4rem auto;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    opacity: 0;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 500ms;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 400ms;
    -moz-animation-name: fade;
    -moz-animation-duration: 500ms;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: forwards;
    -moz-animation-delay: 400ms;
    -ms-animation-name: fade;
    -ms-animation-duration: 500ms;
    -ms-animation-timing-function: linear;
    -moz-animation-fill-mode: forwards;
    -ms-animation-delay: 400ms;
}

.panel {
    padding: 2rem;
}

.panel-dark {
    background-color: #1C406C;
    color: #B2CCEB;
}

.panel-dark h1 {
    color: white;
}

.about {
    display: table;
    margin: 3rem 0;
}

.about-description {
    display: table-cell;
    vertical-align: middle;
    padding-right: 3rem;
}

.about-description strong {
    color: #5e5e7d;
}

.non-prof-description {
    font-size: 16px;
    padding-bottom: 35px;
}

.donny {
    max-width: 100%;
    margin-right: 2rem;
}

.button {
    display: block;

    margin: 1rem auto;
    padding: 10px 16px 8px 16px;

    width: 250px;

    font-size: 28px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    background-color: #2babe2;
    color: #fff;

    border-radius: 5px;
}

.button:last-child {
    margin-bottom: 0;
}

.button:hover {
    background-color: #00CFE4;
}


/* Schedule - - - - - - - - - - */
.schedule:after {
    content: '';
    clear: both;
    display: table;
}

.event-day {
    color: white;
    position: relative;
    right: 14%;
    display: block;
    padding-bottom: 10px;
}

.events-list {
    padding-left: 5rem;
    width: 70%;
    margin-left: 10%;
    margin-top: 4rem;
    box-sizing: border-box;
    float: right;
}

.events-illustrations {
    width: 20%;
    box-sizing: border-box;
    float: left;
    padding: 0;
}

.events-illustrations img {
    max-width: 90%;
    margin-bottom: 5rem;
}

.event-illustration-right {
    margin-left: 60px;
}

.event-illustration-left {
    margin-right: -20px;
}

.event-speaker {
    color: #F487A9;
}

.event-speaker h3 {
    margin: 0 0 0.25rem 0;
}

.event-speaker h3 a {
    font-size: 18px;
    text-decoration: none;

    padding: 4px 8px;
    vertical-align: middle;

    opacity: 0.5;
    transition: opacity 0.2s;
}

.event-speaker h3 a:hover {
    opacity: 1;
}

.event-speaker p {
    margin: 0;
}

.event {
    list-style-type: none;
    position: relative;
    padding-left: 20px;
    padding-bottom: 40px;
    border-left: 4px solid #2babe2;
}

.event-last {
    border-left: 4px solid transparent;
    margin-top: -4px;
}

.event-first:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -12px;
    width: 12px;
    height: 12px;
    background-color: #1C406C;
}

.event:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: -12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid #2babe2;
    background-color: white;
}

.event-time {
    width: 100px;
    position: absolute;
    left: -130px;
    top: 0;
    margin: 0;
    text-align: right;
    font-weight: 700;
    color: #2babe2;
}

/* Tickets - - - - - - - - - - */
.panel .tito-wrapper {
    font-family: 'Mikado', Sans-Serif;
}

/* Sponsorship - - - - - - - - - - */

.panel table.sponsorship-packages {
    width: 100%;
}

.panel table.sponsorship-packages th,
.panel table.sponsorship-packages td
{
    text-align: center;
}

/* Sponsors */
.sponsors {
    margin: 0;
    padding: 0;
}

.sponsors li {
    display: inline-block;

    margin-right: 1rem;
    width: 155px;

    line-height: 1;
    vertical-align: middle;
}

.sponsors li img {
    max-width: 100%;
}

/* Responsive - - - - - - - - - - */
@media screen and (max-width: 720px) {
    .donny {
        margin: 2rem auto 0 auto;
    }
    .events-illustrations {
        display: none;
    }
    .events-list {
        width: 100%;
        margin-left: 0;
    }
    .about-description {
        display: block;
        padding: 0;
        margin-top: 2rem;
    }
    .panel table.sponsorship-packages {
        font-size: 14px;
    }
}

/* Speak. */

.speaker-form {
    text-align: center;
}


/* Splash page! */

body.splash .sprinkle-background {
    z-index: 2;

    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;

    transform: translate(-50%, -50%);
}
