/* Reset - - - - - - - - - - */
body {
    margin: 0;
    background-color: #3B81F5;
    font-family: 'GT Pressura Trial';
    font-weight: 300;
    letter-spacing: 0.05em;
}

a {
    color: #f288a9;
}

/* Typography - - - - - - - - - - */
p, li {
    font-size: 25px;
    font-weight: 300;
}

h1 {
    font-size: 36px;
    font-family: 'Poppins';
    font-weight: 700;
    border-bottom: 4px solid #4084F2;
    display: inline-block;
}

/* Top Banner - - - - - - - - - - */
.sprinkle-background {
    background-image: url('donut-js-sprinkles.svg');
    width: 100%;
}

.title {
    font-family: 'donut';
    text-align: center;
    font-size: 10vw;
    color: white;
}

.donut {
    padding-top: 20vh;
    margin: 0 auto;
    display: block;
    width: 20vw;
    height: 20vw;
}



/* Top Navigation - - - - - - - - - - */
nav {
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 1;
    display: inline-block;

}
nav a {
    color: #f288a9;
    font-family: 'Poppins';
    font-size: 30px;
    margin-right: 15px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 700;
    border-bottom: 4px solid #4084F2;
    display: inline-block;
}

/* Content - - - - - - - - - - */
.constrain {
    width: 100%;
    max-width: 60rem;
    background-color: white;
    margin: -10vh auto 4rem auto;
    padding: 2rem;
    position: relative;
    box-sizing: border-box;
}

.about {
    font-weight: 700;
    font-size: 30px;
    color: black;
}

.schedule {
    border: 3px solid #f288a9;
    border-radius: 20px;
}

.schedule p {
    color: #f288a9;
    font-weight: 700;
    float: left;
}

.time-slot {
    display: inline-block;
    margin-top: 23px;
    margin-left: 18px;
}

.schedule li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: block;
}

.donny {
    position: absolute;
    height: 280px;
    left: 95px;
    margin-top: 330px;
    display: inline-block;
}

@media only screen and (max-device-width: 480px) {
    .title {
        font-size: 90px;
        bottom: 45px;
    }

    .donut {
        max-width: 180px;
    }

    .schedule, .about, .speak, .code-of-conduct, .sponsors {
        padding: 25px;
    }

    .donny {
        height: 100px;
        left: initial;
        margin-top: 0;
    }

    .schedule {
        margin: 20px;
    }
    .schedule ul {
        padding-left: 0;
    }

    .schedule p {
        float: initial;
    }

    .time-slot {
        margin: 0;
    }

    .main {
        padding: 30px 25px;
    }
}