@font-face {
    font-family: donut;
    src: url('Nickainley-Normal.otf');
}

body {
    margin: 0;
}

a {
    color: #f288a9;
}

nav {
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 1;
    display: inline-block;

}
nav a{
    color: #f288a9;
    font-family: 'Poppins';
    font-size: 30px;
    margin-right: 15px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 700;
    border-bottom: 4px solid #4084F2;
    display: inline-block;
}

p, li {
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 300;
}

h1 {
    font-size: 36px;
    font-family: 'Poppins';
    font-weight: 700;
    border-bottom: 4px solid #4084F2;
    display: inline-block;
}
.sprinkle-background {
    background-image: url('donut-js-sprinkles.svg');
    width: 100%;
    height: 600px;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.title {
    font-family: 'donut';
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -60%);
    font-size: 150px;
    color: white;
}

.donut {
    position: absolute;
    max-width: 200px;
    bottom: 110px;
    left: 50%;
    transform: translate(-50%, -75%);
}

.about {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    color: black;
}

.schedule, .speak, .about, .code-of-conduct, .sponsors {
    padding: 25px 100px;
}

.main {
    padding: 100px;
}
.schedule {
    border: 3px solid #f288a9;
    border-radius: 20px;
    margin: 0 72px 72px 72px;
}
.schedule p {
    color: #f288a9;
    font-family: 'Poppins';
    font-weight: 700;
    float: left;
}

.time-slot {
    display: inline-block;
    margin-top: 23px;
    margin-left: 18px;
}

.schedule li {
    list-style: none;
}

.donny {
    position: absolute;
    height: 280px;
    left: 95px;
    margin-top: 330px;
    display: inline-block;
}

@media only screen and (max-device-width: 480px) {
    .title {
        font-size: 90px;
        bottom: 45px;
    }

    .donut {
        max-width: 180px;
    }

    .schedule, .about, .speak, .code-of-conduct, .sponsors {
        padding: 25px;
    }

    .donny {
        height: 100px;
        left: initial;
        margin-top: 0;
    }

    .schedule {
        margin: 20px;
    }
    .schedule ul {
        padding-left: 0;
    }

    .schedule p {
        float: initial;
    }

    .time-slot {
        margin: 0;
    }

    .main {
        padding: 30px 25px;
    }
}